* {
    margin: 0.5em;
}

body{
    margin-left: 2em;
}

#message {
    color: red;
    margin: 1em 1.5em;
}

h1 {
    margin: 2vw;
    padding-left: 2vw;
}

#about {
    /* font-style: italic; */
    margin: 1em;
}